{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms/forms.css' %}">
{% include "greeting.html" %}

<div class="grey_frame">
  {% if form.instance.id == None %}
  <h2>New Customer</h2>
  {% else %}
  <h2>Edit Customer</h2>
  {% endif %}
  <form method="post">
    {% csrf_token %}

    {% if form.non_field_errors%}
      <div class="errorWrapper">
      {{ form.non_field_errors }}
      </div>
    {% endif %}
    
    <p></p>

    <div class="fieldWrapper">
      {% if form.name.errors%}
      <div class="errorWrapper">
        {{ form.name.errors }}
      </div>
      {% endif %}
      <div class="inputWrapper">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
    </div>

    <p></p>

    <div class="submitWrapper">
      {% if form.instance.id == None%}
      <button type="submit">Create</button>
      {% else %}
        {% if form.instance.id == -1%}
        <button type="submit" disabled>Update</button>
        {% else %}
        <button type="submit">Update</button>
        {% endif %}
      {% endif %}
      <button type="button" onclick="location.href = '/customers'">Cancel</button>
    </div>
  </form>
</div>