{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms/forms.css' %}">
<div class="grey_frame">
  <h2>Log In</h2>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% if form.non_field_errors%}
      <div class="errorWrapper">
      {{ form.non_field_errors }}
      </div>
    {% endif %}
    
    <p></p>

    <div class="fieldWrapper">
      {% if form.email.errors%}
      <div class="errorWrapper">
        {{ form.email.errors }}
      </div>
      {% endif %}
      <div class="inputWrapper">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
    </div>

    <p></p>

    <div class="fieldWrapper">
      {% if form.password.errors%}
      <div class="errorWrapper">
        {{ form.password.errors }}
      </div>
      {% endif %}
      <div class="inputWrapper">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
    </div>

    <p></p>

    <div class="submitWrapper">
      <button type="submit">Log In</button>
      <button type="button" onclick="location.href = '/'">Cancel</button>
    </div>
  </form>
</div>